@model Pet

<form action="/pet" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Species</label>
        <input type="text" name="Species" class="form-control" />
        <datalist id="Species">
            <option value="Dolphin"></option>
            <option value="Killer Whale"></option>
            <option value="Sperm Whale"></option>
            <option value="Sea Lion"></option>
            <option value="Otter"></option>
        </datalist>
    </div>
    <div class="form-group">
        <label>Owner</label>
        <select class="form-control" name="OwnerId">
            @foreach(var owner in ViewBag.Owners)
            {
                <option value="@owner.OwnerId">@owner.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create Pet</button>
</form>