@model Owner

<form action="/owner" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create Owner</button>
</form>